body, html {
    background-attachment: fixed;
    background-color: #0080ff;
    overflow-x: hidden;
    min-width: 480px;
    width: 100%;
    color: aliceblue;
    font-family: "Poppins", sans-serif; 
    /* height: 100%; */
    align-items: center;
}

.containerNovo{
    align-items: center;
    margin-top: 10px;
    width: 80%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;    
}



.efeitoMaquina{
    border-right: 3px solid tomato;
    width: 50ch;
    white-space: nowrap;
    overflow: hidden;
    animation: digitando 2s steps(50), 
    piscando 0.5s infinite step-end alternate;
} 

.divCentral{
    margin-left: 250px;
    background: url(rido.png),
                url(agoravai.jpg)
                no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;  
}

h2{
    color: white;
    font-weight: 00;
}

strong{
    color: #bf2d0e;
}


.opacity-1 {
    opacity: 0.1;
}



.titulo{
    font-size: 50px;
    margin-top: -140px;
    /* margin-bottom: -10px; */
    z-index: 1; 
}

.paragrafo{
    color: rgb(255,255,255,0.5);
    font-size: 1.25rem;
}

.font-weight{
    font-weight: 600;
}

.text-7{
    font-size: 1.25rem;
}

.text-24{
    font-size: 8.25rem;
    
}
.secoes{
    margin-left: 250px;
    text-align: center;
    background-color: #212529;
}
.secoes1{
    margin-left: 250px;
    text-align: center;
    background-color: #343a40;
        
}

hr{
    background-color: grey;
}

.containerLateral{
    background-color: #111418;
    height: 100%;
    position: fixed;
    width: 250px;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto';
    box-sizing: border-box;
}

.btnLateral{
    border: transparent;
    background-color: #bf2d0e;
    border-radius: 100px;
    color: white;
}

/* fazer o hover dos botões */
.btn-outline-primary{
    border: 3px solid #bf2d0e;
    border-radius: 100px;
    color: white;
    font-size: 30px;
}

.letrasOpcao{
    font-family:'Roboto';
    font-size: 15px;
    margin-top: 70%;
}


.cabecalho{
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-top: 15px;
    align-content: center;
}

.foto {
    border: 10px solid rgb(135, 153, 152);
    border-radius: 40px;
    transition: border 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.foto:hover {
    border: 8px solid rgb(180, 180, 180); /* Cor mais clara ao passar o mouse */
    transform: scale(1.05); /* Aumenta um pouquinho a imagem */
}

.alinha-meio{
    align-self: center;
}

.linha{
    color: tomato;
    margin-top: -20px;
}

@keyframes digitando {
    from {
        width: 0;
    }
}

@keyframes piscando {
    50% {
        border-color: transparent;
    }
}










@media (max-width: 1980px){ 
    .foto{
        height: 350px;
        width: 500px;
    } 
    .sumir0{
        display: none;
    }

    .alinha-direita{
        text-align: left;
    }
}


@media (max-width: 1280px){ 
    .foto{
        height: 300px;
        width: 400px;
    } 
    .sumir1{
        display: none;
    }

    .titulo{
        font-size: 40px;
        margin-top: -105px;
        z-index: 1; 
    }

    .text-24{
        font-size: 100px;
    }


    .divCentral{
        margin-left: 0px;
    }
    .cabecalho{
        text-align: center;
        font-size: 25px;
        padding-top: 15px;
        align-content: center;
    }
    .secoes{
        margin-left: 0px;
    }

    .alinha-direita{
        text-align: left;
    }
}


@media (max-width: 1048px){ 
    .foto{
        height: 250px;
        width: 300px;
    } 
    .sumir2{
        display: none;
    }
    .divCentral{
        margin-left: 0px;
    }
    .cabecalho{
        text-align: center;
        font-size: 25px;
        padding-top: 15px;
        align-content: center;
    }
    .secoes{
        margin-left: 0px;
    }

    .text-24{
        font-size: 70px;
    }

    .titulo{
        font-size: 30px;
        margin-top: -75px;
        z-index: 1; 
    }

    .alinha-direita{
        text-align: left;
    }

}


@media (max-width: 768px){ 
    .sumir{
        display: none;
    }

    .foto{
        height: 350px;
        width: 400px;
    } 



    .foto{
        box-shadow: -5px 0px 20px 5px black;
        border-radius: 30px;
        border: 5px solid rgb(135, 153, 152);
        height: 350px;
        width: 400px;
    } 

    .subsec1 .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .col-7{
        width: 100% !important; /* Fazer com que ocupem a largura total */
    }

    .alinha-direita{
        text-align: center;
    }
}

@media (min-width: 768px){
    .aparecer{
        display: none;
    }
}
